/* CSS Document */
/*
File name: global.css
CSS document designed by Segnant
Purpose: This includes the generic styles of the webpage which includes header, footer, scrollbars etc. 
Include this file on every page.
*/

/*===================================
 LOGIN FORM CLASSES 
 ===================================*/
 body{font-family:arial;}
 #id_table_login_form
 {
	filter:alpha(opacity=88);
	-moz-opacity:.88;
	opacity:.88;
}	
 #id_table_login_form td
 {
 	font-family: tahoma;
	font-size: 15px;
	color: #0E0E0E;
 }
.small
{
 	font-family: tahoma;
	font-size: 15px;
	color: #0E0E0E;
} 

.btnlogin
{
	font-family: tahoma;
	font-size: 15px;
	padding: 2px 6px 2px 6px;
	line-height: 140%;
	color: #0B6CCF;
	background-color: #FFFFFF;
	border: 1px solid #1F67B1;
}

#login_form_td
{
	height: 470px;
	vertical-align: middle;
}

#id_table_login_form
{
	border-color: #9CC5EF; 
	border-style: solid; 
	border-width: 1px;
	background-color: #E5F2FF;
	height: 229px;
	width: 430px;
}

#id_table_form_inner
{
	border-style: solid; 
	border-width: 1px;
	border-color: #60BAE3;
	width: 239px;
	height: 141px;
	background: url("../images/skins/transparent/login_panel_bg.png") repeat-x #9cc5ef;
	text-align:left;
}

/*===================================
 DESKTOP CLASSES 
 ===================================*/
.my_icon
{
	filter: alpha(opacity=80);
	-moz-opacity:.80;
	opacity:.80;
	width: 113px;
	height: 100px;
	text-decoration:none;
}	

.my_icon a:link, .my_icon a:active, .my_icon a:visited, .my_icon a:hover 
{
	text-decoration: none;
}	
.pressNo
{

}

.pressDown
{
	padding-top: 2px;
	padding-left: 1px;
}

.my_icon_hover
{
	
	-moz-opacity:.100;
	opacity:.100;
	padding-left: 1px; 
	padding-top: 1px;
}

#desktop_content_div
{
	height: inherit !important;
	height: auto;
	padding: 5px;
	margin: 9px;
	background-color: #E2F3F3;
	border: 1px solid #C1E3E3;
	filter: alpha(opacity=80);
	-moz-opacity:.80;
	opacity:.80;
	
}

.desktop_icon_table
{
	background-color: #C1E3E3;
}


/*===================================
 GENERIC CLASSES 
 ===================================*/
body, html
{
	font-family: tahoma;
	font-size: 15px;
	color: #0E0E0E;
	line-height:100%;
	font-weight: normal;
	
   	scrollbar-arrow-color:#535A6B;
	scrollbar-base-color:#B4B4B4;
	scrollbar-shadow-color:#FFFFFF;
	scrollbar-face-color:#E6E6E6;
	scrollbar-highlight-color:#FFFFFF;
	scrollbar-darkshadow-color:#B4B4B4;
	scrollbar-3dlight-color:#B4B4B4; 
	background: url("../images/skins/transparent/page_bg.jpg");
	background-attachment:fixed;
	margin: 0px;
	
}


/* DEFAULT FONT SETTINGS */
p, div, span, td
{
	font-family: tahoma;
	font-size: 15px;
	color: #0E0E0E;
	line-height:110%;
	font-weight: normal;
}

.alertmessage
{
	color: #FFFFFF;
	font-weight:bold;
	font-size: 15px;
	font-family:Tahoma;
	line-height: 200%;
}

#id_footer_td
{
	font-size: 15px;
	text-align: center;
	padding: 5px;
	color: #FFFFFF;
}

:link, :active, :visited
{
	color: #125EBB;
	text-decoration: underline;
}

:hover
{
	
	text-decoration: none;
}
/*===================================
 HEADER CLASSES 
 ===================================*/

/* TOP HEADER */
.header_bg
{
	background: #02416C;
	height: 42px;
	font-family: Tahoma;
	font-weight:normal;
	font-size: 27px;
	color: #FFFFFF;
	padding-left: 7px;
	filter:alpha(opacity=70);
	-moz-opacity:.70;
	opacity:.70;
	
}

.header_bg_version
{
	background: #02416C;
	height: 42px;
	font-family: Tahoma;
	font-weight:normal;
	font-size: 15px;
	color: #FFFFFF;
	padding-left: 7px;
	filter:alpha(opacity=70);
	-moz-opacity:.70;
	opacity:.70;
	vertical-align:bottom;
	padding-right: 8px;
	padding-bottom: 2px;
}

.header_base_line
{
	height: 3px;
	background-color: #000000;
}


/*===================================
 MENU CLASSES 
 ===================================*/

#id_menubar, #id_menubar 
{
	background-color: #F3F3F3;
	font-size: 15px;
	height: 25px;
	border-bottom: 1px solid #DEDEDE;
	padding: 0px 5px 0px 5px;
}

/* FOR BREAD CRUMB */
.id_pathway
{
	background-color: #F3F3F3;
	font-size: 15px;
	height: 25px;
	border-top: 1px solid #FFFFFF;
	border-bottom: 1px solid #B4B4B4;
	padding: 0px 10px 0px 10px;
}

.id_shortcut_icon_td
{
	padding: 1px 9px 1px 9px;
	border-bottom: 1px solid #B4B4B4;
	background-color: #EBEBEB;
	height: 48px;
	text-align:center;
}

/* PLACEMENT OF SHOW SHORTCUT ICONS BUTTON */
#id_toggle_icons_button
{
	text-align: right;
	padding-right: 10px;
	
}

.shortcut_icon
{
	text-align: left;
	font-family: tahoma;
	font-size: 14px;
	padding-right: 10px;
}

/* PLACEMENT OF LAST ICON I.E. PRINT THOS PAGE BUTTON */
#shortcut_icon_last
{
	text-align: right;
	font-family: tahoma;
	font-size: 14px;
	padding-right: 10px;
}

.shortcut_icon :link, .shortcut_icon :active, .shortcut_icon :visited
{
	text-align: center;
	font-family: tahoma;
	font-size: 14px;
	color: #0E0E0E;
	text-decoration: none;
	padding: 0px;
	margin: 0px;
}

.shortcut_icon :hover
{
	backround-color: #B5CDE8;
	text-decoration: underline;
	padding: 0px;
	margin: 0px;
}

.top_icon, .top_icon br
{
	float: center;
	text-align: center;
}

#Layer1
{
	width: 100%;
	background-color: transparent;
}

.TransparentToolbar1 
{
	filter:alpha(opacity=90);
	-moz-opacity:.90;
	opacity:.90;
}

.TransparentToolbar0
{
	
}	

/*===================================
 BODY CLASSES 
 ===================================*/
#content_center_td
{
	height: inherit !important;
	height: 280px;
	filter:alpha(opacity=88);
	-moz-opacity:.88;
	opacity:.88;
}

#content_div
{
	height: inherit !important;
	padding: 5px;
	margin: 9px;
	border: 1px solid #C1E3E3;
    background: url('../images/mosaic_bg2.png');
}

/* FOR SETTING THE PAGE WIDTH */
.page_width
{
	width: 100% !important;
	width: 100%;
	background: none;
}


/* DO NOT CHANGE THIS VALUE */
#content_div #heigtForFirefox
{
	height: 280px !important; 
	overflow: visible;
	color: #FFFFFF;
}

#id_td_pageHeading
{
	padding: 6px 5px 3px 5px;
	height: 46px !important;
	height: 39px;
}

#pageTitle
{
	padding: 15px 5px 0px 30px;
	margin-top: 0px;
	font-family: arial;
	font-size: 24px;
	font-weight:bold;
	height: 26px;
	color: #FFFFFF;
	background: url('../images/skins/transparent/heading_logo.jpg') no-repeat;
	background-position: 0px 9px !important;
	background-position: 0px 10px;

}

.listing_table 
{
	background-color: #CCCCCC;
}

.listing_table  td
{
	padding-left: 3px;
	padding-top: 0px;
}

/* SETTINGS FOR BUTTON BAR IN LISTINGS PAGE */
#listpage_button_bar
{
	background-color: #FFFFFF; 
	border: 1px solid #C1DBEB; 
	margin: 0px 0px 5px 0px;
	overflow:auto !important;
	overflow:inherit;
	height: 120px;
}

.icon_box
{
	border:1px solid #3796EC;
	padding:3px;
	cursor:pointer;
}

.icon_box:hover
{
	border:1px solid #0E5596;
	padding:3px;
	cursor:pointer;
}

.icon_box td
{
	color:#0E5596;
}

.fieldset
{
	
	height: inherit !important;
	height: inherit; 
	padding: 3px; 
	border: 1px solid #96AAB5;
	height: auto;
}

legend
{
	color: #236084;
}

.input_table td
{
	border-bottom: 1px solid #CCCCCC;
	background-color: #FFFFFF;
}

/* CAPTION SETTINGS FOR INPUT FORMS */
.input_form_caption_td
{
	padding-right: 6px;
	text-align: right;
	font-weight: bold;
	color: #0F52B6;
}

/* FONT SETTINGS FOR THE CAPTION */
.input_form_caption_td span
{
	padding: 2px;
	font-weight: bold;
	font-family: "Courier New", Courier, mono;
	font-size: 17px;
	color: #FF0000;
}


.form_header
{
	height: 24px;
	background: url('../images/skins/transparent/heading_bar_bg.jpg') repeat-x;
	background-position:bottom;
}
.form_base_header
{
	height: 24px;
	background: url('../images/skins/transparent/heading_bar_bg.jpg');
	background-position: 0px -25px;
	text-align:center;
	color: #FFFFFF;
}
/* Paging in form header base */
.pagenav
{
	vertical-align:middle;
	color: #FFFFFF;
	font-weight:bold;
	line-height:120%;
	text-align:center;
	padding: 0px 5px 0px 5px;
}
/* hyperlinks in paging */
:link.pagenav, :active.pagenav, :visited.pagenav
{
	vertical-align:middle;
	color: #FFFFFF;
	font-weight:bold;
	line-height:120%;
	text-align:center;
	text-decoration: underline;
	padding: 0px 5px 0px 5px;
}

:hover.pagenav
{
	vertical-align:middle;
	color: #FFFFFF;
	font-weight:bold;
	line-height:120%;
	text-align:center;
	text-decoration: none;
	padding: 0px 5px 0px 5px;
}

#div_footer :link, #div_footer :active, #div_footer :visited
{
	text-decoration: underline;
	color: #FFFFFF;
}

#div_footer :hover 
{
	text-decoration: none;
	color: #FFFFFF;
}

.form_header span
{
	color: #FFFFFF;
	font-family: Tahoma;
	font-size: 12px;
	font-weight: bold;
	padding: 0px 3px 0px 3px;
}

/* CLASS FOR TEXTBOX, TEXTAREA AND SELECT BOX */
.inputbox0
{

	font-size: 15px;
	background-color: #265DA2;
	padding: 1px;
	color: #FFFFFF;
	border: 1px solid #9FC0D1;
	font-weight:normal;
	font-weight: normal;
	margin: 2px 0px 2px 0px;
}

.inputbox
{

	font-size: 15px;
	background-color: #E6EFF4;
	padding: 1px;
	color: #002D44;
	border: 1px solid #9FC0D1;
	font-weight:normal;
	font-weight: normal;
	margin: 2px 0px 2px 0px;
}

/* CLASS FOR BUTTONS */
.button
{
	/*background: url(../images/button_bg_blue.jpg) no-repeat left;*/
	color: #000000;
	font-size: 14px;
	font-family: arial;
	border: 1px solid #9D9D9D;
	
	font-weight: bold;
	/*padding-left: 17px;
	padding-right: 3px;*/
	text-transform:capitalize;
	height: 21px;
}

/* ALTERNATE COLORS FOR TDs */
.row0
{
	background-color: #FBFBFB;
	height: 22px;
}

/* ALTERNATE COLORS FOR TDs */
.row1
{
	background: url("../images/skins/mosaic/row1_bg.png") #FFFFFF repeat-x; 
	height: 22px;
	
}

.warning
{
	background: url("../images/warning.gif") left no-repeat;
	background-color: #FFF8A7;
	background-position: 14px center;
	padding: 8px 3px 8px 48px;
	border: 1px dotted #E5D200;	
	margin: 5px;
	width: 80%;
	text-align: left;
	color: #000000;
	font-family: arial;
	font-size: 15px;
	font-weight:bold;
}

.info
{
	background: url("../images/info.gif") left no-repeat;
	background-color: #D4F5D4;
	background-position: 14px center;
	padding: 3px 3px 3px 42px;
	border: 1px dotted #54AF54;	
	margin: 5px;
	width: 70%;
	text-align: left;
	font-family: arial;
	font-size: 15px;
	font-weight:bold;
}

#div_footer
{
	color: #FFFFFF;
}